! Configuration File for keepalived

global_defs {
   notification_email {
     {{ notification_email }}
   }
   notification_email_from keepalived
   smtp_server 127.0.0.1
   smtp_connect_timeout 30
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
   vrrp_garp_interval 0
   vrrp_gna_interval 0
}

#vrrp_script check_component {
#   script "/usr/bin/check_ha.sh"
#   interval 5
#   fall     3
#   reise    5
#} 

vrrp_sync_group {{ tenant_id }}_cron {
   group {
      cron_{{ tenant_id }}
   }
}

vrrp_instance cron_{{ tenant_id }} {
   state {% if ha_rol == "main" %} MASTER {% else %} BACKUP {% endif %} 
   interface {{ ha_vip_nic }}
   virtual_router_id 53
   priority {% if ha_rol == "main" %} 100 {% else %} 50 {% endif %} 
   advert_int 1
   notify_master "systemctl start omlcron"
   notify_backup "systemctl stop omlcron"
   authentication {
      auth_type PASS
      auth_pass 1111
   }
   track_script {
      check_component
   }
}