global_defs {
   script_security
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
}

vrrp_script check_component {
   script "/usr/bin/check_ha.sh"
   interval 5
   weight 2 
} 

vrrp_instance oml_aio {
   state {% if ha_rol == "main" %} MASTER {% else %} BACKUP {% endif %} 
   interface {{ ha_vip_nic }}
   virtual_router_id 51
   priority {% if ha_rol == "main" %} 100 {% else %} 50 {% endif %} 
   advert_int 1
   notify_master "/usr/bin/oml_cluster_transition.sh MASTER"
   notify_backup "/usr/bin/oml_cluster_transition.sh BACKUP"
   authentication {
      auth_type PASS
      auth_pass 1111
   }
   virtual_ipaddress {
      {{ omnileads_vip }}
   }
   track_script {
      check_component
   }
}