TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
ONBOOT=no
PREFIX={{ netprefix }}
IPV6INIT=no
NAME={{ ha_vip_nic }}:0
DEVICE={{ ha_vip_nic }}:0
IPADDR={{ postgres_host }}
