#!bin/bash

HA_NIC={{ ha_vip_nic }}
VIP_MAIN={{ postgres_host }}
VIP_BACKUP={{ postgres_ro_vip }}

export HA_NIC VIP_MAIN VIP_BACKUP

PGHOST={{ omni_ip_lan }}
PGDATABASE={{ postgres_database }}
PGPORT={{ postgres_port }}
PGUSER={{ postgres_user }}
PGPASSWORD={{ postgres_password }}
PGHOSTHA={{ postgres_ha }}
PGHOSTRO={{ postgres_ro_vip }}